/* CSSv3 */
/* Base */
/* common {{{ */
@font-face {
  font-family: 'uiMenu';
  src: url('font/AmericanCaptain.woff2') format('woff2'), url('font/AmericanCaptain.woff') format('woff');
  /***
  src: url('font/RobotoCondensed.woff2') format('woff2'),
       url('font/RobotoCondensed.woff')  format('woff');
  src: url('font/OpenSans.woff2') format('woff2'),
       url('font/OpenSans.woff')  format('woff');
  src: url('font/Troika.woff2') format('woff2'),
       url('font/Troika.woff')  format('woff');
  /***/
}
@font-face {
  font-family: 'uiNav';
  src: url('font/Molot.woff2') format('woff2'), url('font/Molot.woff') format('woff');
}
html {
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  width: 100%;
  --v-width: 0;
  --v-height: 0;
}
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: var(--col99);
  /**/
  color: var(--col40);
  font-family: 'uiMenu';
}
div {
  box-sizing: border-box;
}
svg {
  height: 100%;
  width: 100%;
  overflow: visible;
}
.button,
.title {
  -webkit-user-select: none;
  user-select: none;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  white-space: nowrap;
}
#ui {
  height: 100%;
  width: 100%;
}
/* }}} */
/* Sections */
#w3demo {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: var(--col95);
  color: var(--col40);
}
#w3demo #sidebar {
  width: 15%;
}
#w3demo #view {
  width: 85%;
}
#w3demo #view #widget {
  width: 100%;
  height: 100%;
  opacity: 0;
}
#w3demo #view #widget.show {
  opacity: 1;
}
/* workarea {{{ */
#wa {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: var(--col95);
  color: var(--col40);
  font-family: uiMenu;
  --f-size-min: 18;
  --f-size-max: 60;
  /* dynamic */
  --f-size0: 0px;
  /* css dynamic */
  --f-size1: calc(var(--f-size0) - 2px);
  --f-size2: calc(var(--f-size0) - 4px);
  --f-size3: calc(var(--f-size0) - 6px);
  --f-size4: calc(var(--f-size0) - 8px);
  --f-size5: calc(var(--f-size0) - 10px);
  --f-size6: calc(var(--f-size0) - 12px);
  --f-size7: calc(var(--f-size0) - 14px);
  --f-size8: calc(var(--f-size0) - 16px);
  --f-size9: calc(var(--f-size0) - 18px);
  /* }}} */
}
#wa #header {
  display: flex;
  max-height: 64px;
  padding: 0 2px;
  /* buttons */
  /* HOVER */
}
#wa #header.on {
  flex: 1 1 10%;
  min-height: 32px;
}
#wa #header > div {
  min-width: 0;
  min-height: 100%;
  padding: 4px 0;
}
#wa #header .mode,
#wa #header .config {
  flex: 2 2;
  width: 20%;
}
#wa #header .title {
  flex: 8 8;
  width: 80%;
  padding: 4px 0;
  /**/
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-size: var(--f-size0);
}
#wa #header .button {
  padding: 4px 8px 0 8px;
  font-size: var(--f-size8);
  background-color: var(--col90);
  border: 1px solid var(--col85);
  border-radius: 6px;
  cursor: pointer;
}
#wa #header .button.icon {
  background-color: transparent;
  border: 0;
}
#wa #header .button.disabled {
  background-color: transparent;
  border: 1px solid var(--col90);
  font-size: 0;
  cursor: default;
}
#wa #header .button svg {
  stroke: var(--col40);
  stroke-width: 6;
  fill: var(--col90);
}
#wa #header .button.hovered {
  background-color: var(--col95);
  font-size: var(--f-size7);
  color: var(--col30);
  /***
            border-left: 0;
            border-right: 0;
            border-radius: 0;
            /***/
}
#wa #header .button svg path {
  transition: all 0.6s ease-out;
}
#wa > div {
  min-height: 0;
  min-width: 80px;
}
#wa .separator {
  flex: 0 0;
  min-height: 4px;
  background-color: var(--col93);
  border: 1px solid var(--col85);
  border-radius: 2px;
}
#header {
  flex: 0 0 0%;
}
#view {
  flex: 9 9 90%;
}
#console {
  flex: 0 0 0%;
}
/* view  {{{ */
#view {
  display: flex;
  flex-direction: column;
  position: relative;
}
#view > div {
  flex: 1 1;
  position: absolute;
  /* flexbox trick! */
  width: 100%;
  /***/
  height: 100%;
  /***/
  background-color: var(--col95);
}
#view > .color {
  background-color: var(--col90);
}
/* }}} */
/* console {{{ */
#console.on {
  flex: 2 2 10%;
  min-height: 32px;
  max-height: 80px;
}
/** menu {{{ */
#console .menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 2px;
}
#console .menu .item {
  flex: 2.5 2.5;
  width: 25%;
  box-sizing: border-box;
  min-width: 0;
  min-height: 100%;
  padding: 8px 0 8px 0;
}
#console .menu .item.hidden {
  flex: 0 0 0;
  display: none;
}
#console .menu .item.active {
  flex: 5 5;
  width: 50%;
  padding: 4px 0 4px 0;
}
#console .menu .item.hover {
  padding: 6px 0 6px 0;
}
/***/
#console .menu .button {
  font-size: var(--f-size8);
  background-color: var(--col93);
  border: 1px solid var(--col85);
}
#console .menu .button.center {
  font-size: var(--f-size4);
  background-color: var(--col95);
  border-radius: 6px;
}
#console .menu .button.left {
  cursor: pointer;
  border-right: 0;
}
#console .menu .button.right {
  cursor: pointer;
  border-left: 0;
}
#console .menu .button.hidden {
  font-size: 0;
}
#console .menu .button.center.hover {
  border-radius: 0;
  font-size: var(--f-size7);
  background-color: var(--col93);
}
#console .menu .button.left.hover {
  border-left: 0;
  font-size: var(--f-size7);
  background-color: var(--col95);
}
#console .menu .button.right.hover {
  border-right: 0;
  font-size: var(--f-size7);
  background-color: var(--col95);
}
/** }}} */
/** address {{{ */
#console .address {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 20px;
}
/** }}} */
/** payment {{{ */
#console .payment {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 20px;
}
/** }}} */
/* }}} */
/* }}} */
/* views */
/* menu {{{ */
#menu {
  font-family: uiNav;
  cursor: -webkit-grab;
  cursor: grab;
}
#menu.drag {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
#menu .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: transparent;
  visibility: hidden;
}
/* menu option buttons */
#menu .box > div {
  width: 65%;
  max-width: 640px;
}
#menu .button {
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  max-height: 56px;
  margin: 1px 0;
  background-color: var(--col90);
  color: var(--col40);
  border: 1px solid var(--col85);
  border-radius: 6px;
  font-size: var(--f-size6);
  transition: All 0.6s ease;
}
#menu:not(.drag) .button {
  cursor: pointer;
}
#menu:not(.drag) .button:hover {
  max-height: 72px;
  background-color: var(--col92);
  color: var(--col30);
  font-size: var(--f-size5);
  width: 70%;
  max-width: 680px;
}
#menu:not(.drag) .button.active {
  background-color: var(--col93);
  color: var(--col30);
}
/* }}} */
/* address {{{ */
#address {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#address span {
  font-size: var(--f-size0);
}
/* }}} */
/* payment {{{ */
#payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#payment span {
  font-size: var(--f-size0);
}
/* }}} */
/* config {{{ */
#config {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#config span {
  font-size: var(--f-size0);
}
/* }}} */
