:root {
  /* default color: ALICE BLUE */
  /* main */
  --col-h: 211;
  /* hue */
  --col-s: 92;
  /* saturation */
  /* opaque */
  --col99: #fafcff;
  --col95: #e7f2fe;
  --col94: #e2effe;
  --col93: #ddedfe;
  --col92: #d8eafd;
  --col90: #cee5fd;
  --col88: #c4dffd;
  --col87: #bfddfc;
  --col85: #b6d8fc;
  --col84: #b1d5fc;
  --col83: #acd2fc;
  --col82: #a7d0fb;
  --col80: #9dcafb;
  --col77: #8ec3fa;
  --col75: #85bdfa;
  --col73: #7bb8f9;
  --col70: #6cb0f9;
  --col65: #54a3f8;
  --col60: #3b96f7;
  --col55: #2389f6;
  --col50: #0a7cf5;
  --col40: #0863c4;
  --col35: #0757ab;
  --col30: #064a93;
  --col20: #043162;
  /* transparent */
  --col95a: rgba(231, 242, 254, 0);
  --col90a: rgba(206, 229, 253, 0);
  --col85a: rgba(182, 216, 252, 0);
  --col80a: rgba(157, 202, 251, 0);
}
.w3ui div {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
}
.w3ui.accordion {
  --title-size: 0;
  --title-font: sans-serif;
  --title-font-size: 32px;
  --panel-size: 0;
  --panel-font: sans-serif;
  padding: 1px;
}
.w3ui.accordion .box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: transparent;
  opacity: 0;
}
.w3ui.accordion .box.active,
.w3ui.accordion .box.L0 {
  opacity: 1;
}
.w3ui.accordion .panel {
  display: block;
  width: 100%;
  overflow: hidden;
  padding: 0 0 2px 0;
}
.w3ui.accordion .panel.last {
  padding: 0;
}
.w3ui.accordion .panel.hidden {
  display: none;
}
.w3ui.accordion .boxTitle {
  width: 100%;
  height: var(--title-size);
  padding: 0 4px;
}
.w3ui.accordion .boxTitle.active {
  padding: 0;
}
.w3ui.accordion .boxContent {
  display: none;
  width: 100%;
  height: 0px;
  padding: 0 4px;
}
.w3ui.accordion .boxContent.active {
  display: block;
  height: var(--panel-size);
  padding: 0;
}
.w3ui.accordion .title {
  width: 100%;
  height: 100%;
  background-color: var(--col93);
  border: 1px solid var(--col85);
  border-radius: 3px;
  box-shadow: inset 0 0 0 0px var(--col85);
  padding: 6px 0;
  cursor: pointer;
}
.w3ui.accordion .title.hovered {
  background-color: var(--col90);
  box-shadow: inset 0 0 8px 2px var(--col85);
}
.w3ui.accordion .title.hovered.active {
  box-shadow: inset 0 0 0 0px var(--col85);
}
.w3ui.accordion .title.active {
  background-color: var(--col90);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.w3ui.accordion .title .box {
  font-family: var(--title-font);
  font-size: var(--title-font-size);
  color: var(--col40);
  opacity: 1;
}
.w3ui.accordion .title .box.N1 {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.w3ui.accordion .title .box.N1.hovered {
  font-size: calc(1.1 * var(--title-font-size));
  text-shadow: 0 0 2px var(--col95), 0 0 4px var(--col90), 0 0 6px var(--col50), 0 0 8px var(--col40);
}
.w3ui.accordion .title .box.N1.hovered.active {
  font-size: var(--title-font-size);
  color: var(--col40);
  text-shadow: none;
}
.w3ui.accordion .title .box.N1.select {
  color: var(--col20);
}
.w3ui.accordion .title .box.N1.select.active {
  color: var(--col40);
}
.w3ui.accordion .title .box.N1.active {
  font-size: calc(1.1 * var(--title-font-size));
  color: var(--col20);
}
.w3ui.accordion .title .box.N0,
.w3ui.accordion .title .box.N2 {
  display: none;
}
.w3ui.accordion .content {
  width: 100%;
  height: 100%;
  padding: 4px 2px;
  background-color: var(--col90);
  border: 1px solid var(--col85);
  border-top: 0;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.w3ui.accordion .content .box.N1 {
  height: 100%;
}
.w3ui.accordion .content .box.N0,
.w3ui.accordion .content .box.N2 {
  height: auto;
  font-family: var(--panel-font);
  color: var(--col40);
  display: none;
}
.w3ui.accordion .content .box.N0.N1,
.w3ui.accordion .content .box.N2.N1 {
  display: block;
}
.w3ui.slider {
  position: relative;
}
.w3ui.slider.horizontal {
  height: 1em;
}
.w3ui.slider.vertical {
  width: 1em;
}
.w3ui.slider .handle {
  position: absolute;
  z-index: 2;
  width: 0;
  height: 0;
  outline: none;
  cursor: default;
  touch-action: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.w3ui.slider.horizontal .range {
  height: 100%;
}
.w3ui.slider.vertical .range {
  width: 100%;
}
.w3ui.slider .range {
  position: absolute;
  z-index: 1;
  border-width: 0;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* vim: set et ts=4 sw=4 sts=4 fdm=marker fenc=utf-8 ff=unix: */
