/* CSSv3 */
/* vars {{{ */
:root
{
  /* color {{{ */
  /* default: ALICE BLUE */
  /* main */
  --col-h: 211;/* hue */
  --col-s:  92;/* saturation */
  /* opaque */
  --col99: hsla(211, 92%, 99%, 1);
  --col95: hsla(211, 92%, 95%, 1);
  --col94: hsla(211, 92%, 94%, 1);
  --col93: hsla(211, 92%, 93%, 1);
  --col92: hsla(211, 92%, 92%, 1);
  --col90: hsla(211, 92%, 90%, 1);
  --col88: hsla(211, 92%, 88%, 1);
  --col87: hsla(211, 92%, 87%, 1);
  --col85: hsla(211, 92%, 85%, 1);
  --col84: hsla(211, 92%, 84%, 1);
  --col83: hsla(211, 92%, 83%, 1);
  --col82: hsla(211, 92%, 82%, 1);
  --col80: hsla(211, 92%, 80%, 1);
  --col77: hsla(211, 92%, 77%, 1);
  --col75: hsla(211, 92%, 75%, 1);
  --col73: hsla(211, 92%, 73%, 1);
  --col70: hsla(211, 92%, 70%, 1);
  --col65: hsla(211, 92%, 65%, 1);
  --col60: hsla(211, 92%, 60%, 1);
  --col55: hsla(211, 92%, 55%, 1);
  --col50: hsla(211, 92%, 50%, 1);
  --col40: hsla(211, 92%, 40%, 1);
  --col35: hsla(211, 92%, 35%, 1);
  --col30: hsla(211, 92%, 30%, 1);
  --col20: hsla(211, 92%, 20%, 1);
  /* transparent */
  --col95a: hsla(211, 92%, 95%, 0);
  --col90a: hsla(211, 92%, 90%, 0);
  --col85a: hsla(211, 92%, 85%, 0);
  --col80a: hsla(211, 92%, 80%, 0);
  /* gradients */
  --gr0: linear-gradient(--col90, --col95a 20%, --col95a 80%, --col90);
  --gr1: linear-gradient(to right, --col90, --col95a 10%, --col95a 90%, --col90);
  --gr2: radial-gradient(ellipse, transparent, --col90 75%);
  --gr3: radial-gradient(ellipse, --col90 25%, transparent 75%);
  /* }}} */
  /* font {{{ */
  /* static */
  --f1: Segoe UI, Tahoma, Geneva, sans-serif;
  --f1-size-max: 36;
  /* dynamic */
  --f1-size-auto: 36px;
  --f1-size-menu: calc(var(--f1-size-auto) - 8px);
  --f1-size-menu-hover: calc(var(--f1-size-auto) - 4px);
  --f1-size-btn: calc(var(--f1-size-auto) - 14px);
  --f1-size-btn-hover: calc(var(--f1-size-auto) - 12px);
  /* }}} */
}
/* }}} */
/* html {{{ */
html
{
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  width: 100%;
}
body
{
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: var(--col99);/**/
  color: var(--col40);
}
/* }}} */

/* workarea {{{ */
#wa
{
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  overflow: hidden;
  background-color: var(--col95);
  /**/
  display: flex;
  flex-direction: column;
  /**/
}
#modebar {flex: 1 1 10%;min-height: 32px; max-height: 64px;}
#view    {flex: 8 8 80%;}
#console {flex: 1 1 10%;min-height: 32px; max-height: 64px;}
#wa .progress
{
  flex: 0 0 3px;
  background-color: var(--col93);
  border: 1px solid var(--col85);
  border-radius: 2px;
}
#modebar .box1, #modebar .box3,
#console .box1, #console .box3
{
  padding: 4px 2px;
}
/* }}} */
/* modebar {{{ */
#modebar
{
  display: flex;
}
#modebar .box1 {flex: 1.5 1.5 15%;}
#modebar .box2 {flex: 7 7 70%;}
#modebar .box3 {flex: 1.5 1.5 15%;}
#modebar > div
{
  display: flex;
  min-width: 24px;/* default is auto for flexbox */
}
/* title */
#modebar .box2
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  color: var(--col40);
  font-family: var(--f1);
  font-weight: bold;
  font-size: var(--f1-size-auto);
  white-space: nowrap;
}
/* }}} */
/* console {{{ */
#console
{
  display: flex;
}
#console .box1 {flex: 1.5 1.5 15%;}
#console .box2 {flex: 7.5 7.5 75%;}
#console .box3 {flex: 1.5 1.5 15%;}
#console > div {
  display: flex;
  min-width: 24px;/* default is auto for flexbox */
}

/* message */
/***
#console .box2 p
{
  width: 100%;
  margin: 0;
  padding: 4px 0 0 0;
  text-align: center;
  line-height: 1;
  font-weight: 600;
}
/***/
/***/
#console .box2
{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--f1);
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;
}
#console .box2 .type {
  flex: 4 4 40%;
  font-weight: 700;
  display: flex;
  align-items: flex-end;
}
#console .box2 .msg {
  flex: 6 6 60%;
}
/***
  align-self: flex-end;
  align-self: flex-start;
#console .box2 > div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  white-space: nowrap;
}
/***/
/* }}} */
/* btn {{{ */
#wa .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  height: 100%;
  width: 100%;
  min-width: 24px;
  border-radius: 6px;
  font-family: var(--f1);
  font-weight: 600;
  font-size: var(--f1-size-btn);
  /* anim */
  transition: all 0.6s ease;
}
/* enabled */
#wa .btn:not(.disabled) {
  background-color: var(--col90);
  border: 1px solid var(--col85);
  cursor: pointer;
}
#wa .btn:not(.disabled):hover {
  background-color: var(--col92);
  color: var(--col30);
  font-size: var(--f1-size-btn-hover);
  font-weight: 700;
}
/* disabled */
#wa .btn.disabled {
  background-color: var(--col95);
  border: 1px solid var(--col85);
}
/* icon */
#wa .btn svg {
  fill: var(--col30);
  height: 100%;
  width: 100%;
  min-width: 16px;
}
/* }}} */

/* view {{{ */
#view
{
  display: flex;
  align-items: center;
  justify-content: center;
}
#view > div {
  margin: 0 2px;
}
/* }}} */
/* view > menu {{{ */
#menu
{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#menu div
{
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  max-height: 64px;
  margin: 1px 0;
  background-color: var(--col90);
  color: var(--col40);
  border: 1px solid var(--col85);
  border-radius: 6px;
  cursor: pointer;
  font-family: var(--f1);
  font-weight: bold;
  font-size: var(--f1-size-menu);
  /* anim */
  transition: All 0.6s ease;
}
#menu div:hover
{
  flex: 1 1 110%;
  max-height: 96px;
  background-color: var(--col92);
  color: var(--col30);
  font-size: var(--f1-size-menu-hover);
  width: 65%;
}
/* }}} */




