/* CSSv3 */
/* html {{{ */
html
{
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  width: 100%;
  /* colors {{{ */
  /* default: ALICE BLUE */
  /* main */
  --col-h: 211;/* hue */
  --col-s:  92;/* saturation */
  /* opaque */
  --col99: hsl(211, 92%, 99%);
  --col95: hsl(211, 92%, 95%);
  --col94: hsl(211, 92%, 94%);
  --col93: hsl(211, 92%, 93%);
  --col92: hsl(211, 92%, 92%);
  --col90: hsl(211, 92%, 90%);
  --col88: hsl(211, 92%, 88%);
  --col87: hsl(211, 92%, 87%);
  --col85: hsl(211, 92%, 85%);
  --col84: hsl(211, 92%, 84%);
  --col83: hsl(211, 92%, 83%);
  --col82: hsl(211, 92%, 82%);
  --col80: hsl(211, 92%, 80%);
  --col77: hsl(211, 92%, 77%);
  --col75: hsl(211, 92%, 75%);
  --col73: hsl(211, 92%, 73%);
  --col70: hsl(211, 92%, 70%);
  --col65: hsl(211, 92%, 65%);
  --col60: hsl(211, 92%, 60%);
  --col55: hsl(211, 92%, 55%);
  --col50: hsl(211, 92%, 50%);
  --col40: hsl(211, 92%, 40%);
  --col35: hsl(211, 92%, 35%);
  --col30: hsl(211, 92%, 30%);
  --col20: hsl(211, 92%, 20%);
  /* transparent */
  --col95a: hsla(211, 92%, 95%, 0);
  --col90a: hsla(211, 92%, 90%, 0);
  --col85a: hsla(211, 92%, 85%, 0);
  --col80a: hsla(211, 92%, 80%, 0);
  /* gradients */
  --gr0: linear-gradient(--col90, --col95a 20%, --col95a 80%, --col90);
  --gr1: linear-gradient(to right, --col90, --col95a 10%, --col95a 90%, --col90);
  --gr2: radial-gradient(ellipse, transparent, --col90 75%);
  --gr3: radial-gradient(ellipse, --col90 25%, transparent 75%);
  /* }}} */
  --v-width: 0;
  --v-height: 0;
}
body
{
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: var(--col99);/**/
  color: var(--col40);
}
/* }}} */
/* common specs {{{ */
div
{
  box-sizing: border-box;
}
svg
{
  height: 100%;
  width: 100%;
  overflow: visible;
}
.button, .title
{
  -webkit-user-select: none;
  user-select: none;
}
.button
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  white-space: nowrap;
}
/* }}} */

/* workarea */
/* wa {{{ */
#wa
{
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  /**/
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--col95);
  color: var(--col40);
  /* font */
  --f-name: Segoe UI, Tahoma, Geneva, sans-serif;
  --f-size-min: 18;
  --f-size-max: 36;
  /* dynamic */
  --f-size0: 0px;
  /* css dynamic */
  --f-size1: calc(var(--f-size0) - 2px);
  --f-size2: calc(var(--f-size0) - 4px);
  --f-size3: calc(var(--f-size0) - 6px);
  --f-size4: calc(var(--f-size0) - 8px);
  --f-size5: calc(var(--f-size0) - 10px);
  --f-size6: calc(var(--f-size0) - 12px);
  --f-size7: calc(var(--f-size0) - 14px);
  --f-size8: calc(var(--f-size0) - 16px);
  --f-size9: calc(var(--f-size0) - 18px);
  /**/
  font-family: var(--f-name);
  font-weight: 700;
}
#header  {flex: 0 0 0%; min-height: 0; max-height: 64px;}
#view    {flex: 9 9 90%;}
#console {flex: 0 0 0%; min-height: 0;}
#wa > div
{
  display: flex;
  min-width: 80px;
}
#wa .separator
{
  flex: 0 0;
  min-height: 4px;
  background-color: var(--col93);
  border: 1px solid var(--col85);
  border-radius: 2px;
}
#view > div
{
  width: 100%;
  height: 100%;
  visibility: hidden;
}
/* }}} */
/* header  {{{ */
#header
{
  padding: 0 2px;
}
#header.on {
  flex: 1 1 10%;
  min-height: 32px;
}
#header > div {
  box-sizing: border-box;
  min-width: 0;
  min-height: 100%;
  padding: 4px 0;
}
#header .mode,
#header .config
{
  flex: 1.5 1.5;
  width: 15%;
}
#header .title
{
  flex: 7 7;
  width: 70%;
  padding: 4px 0;
  /**/
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-size: var(--f-size0);
  /**/
  transition: all 0.6s ease;
}
/* buttons */
#header .button
{
  border-radius: 6px;
  font-size: var(--f-size8);
  padding: 0 8px;
}
#header .button.disabled
{
  visibility: hidden;
}
#header .button.text
{
  background-color: var(--col90);
  border: 1px solid var(--col85);
  cursor: pointer;
}
#header .button.icon
{
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
#header .button svg
{
  stroke: var(--col40);
  stroke-width: 6;
  fill: var(--col90);
}
/**/
#header .button.icon path,
#header .button.text
{
  transition: all 0.4s ease-out;
}
#header .button.icon:hover path
{
  filter: drop-shadow(0 0 50px hsl(var(--col-h), var(--col-s)%, 40%));
}
#header .button.text:hover
{
  font-size: var(--f-size7);
  background-color: var(--col93);
  color: var(--col30);
}
/* }}} */
/* console {{{ */
#console.on {
}
#console.menu
{
  flex: 2 2 10%;
  min-height: 32px;
  max-height: 80px;
}
#console.menu .carousel
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 2px;
}
#console.menu .item
{
  flex: 2.5 2.5;
  width: 25%;
  box-sizing: border-box;
  min-width: 0;
  min-height: 100%;
  padding: 8px 0 8px 0;
}
#console.menu .item.hidden
{
  flex: 0 0 0;
  display: none;
}
#console.menu .item.active
{
  flex: 5 5;
  width: 50%;
  padding: 4px 0 4px 0;
}
#console.menu .item.hover
{
  padding: 6px 0 6px 0;
}
/***/
#console.menu .button
{
  font-size: var(--f-size8);
  background-color: var(--col93);
  border: 1px solid var(--col85);
}
#console.menu .button.center
{
  font-size: var(--f-size4);
  background-color: var(--col95);
  border-radius: 6px;
}
#console.menu .button.left
{
  cursor: pointer;
  border-right: 0;
}
#console.menu .button.right
{
  cursor: pointer;
  border-left: 0;
}
#console.menu .button.hidden
{
  font-size: 0;
}
#console.menu .button.center.hover
{
  border-radius: 0;
  font-size: var(--f-size7);
  background-color: var(--col93);
}
#console.menu .button.left.hover
{
  border-left: 0;
  font-size: var(--f-size7);
  background-color: var(--col95);
}
#console.menu .button.right.hover
{
  border-right: 0;
  font-size: var(--f-size7);
  background-color: var(--col95);
}
/* }}} */
/* menu {{{ */
#menu
{
  cursor: -webkit-grab;
  cursor: grab;
}
#menu.drag
{
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
#menu .box
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: transparent;
}
#menu .box.attached {
  background-color: var(--col95);
}
#menu .box.active
{
  z-index: 2;
  visibility: inherit;
}
/* menu option buttons */
#menu .box > div
{
  width: 65%;
  max-width: 640px;
}
#menu .button
{
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  max-height: 56px;
  margin: 1px 0;
  background-color: var(--col90);
  color: var(--col40);
  border: 1px solid var(--col85);
  border-radius: 6px;
  font-weight: 700;
  font-size: var(--f-size6);
  transition: All 0.6s ease;
}
#menu:not(.drag) .button
{
  cursor: pointer;
}
#menu:not(.drag) .button:hover
{
  max-height: 72px;
  background-color: var(--col92);
  color: var(--col30);
  font-size: var(--f-size5);
  width: 70%;
  max-width: 680px;
}
#menu:not(.drag) .button.active
{
  background-color: var(--col93);
  color: var(--col30);
}
/* }}} */
/* address {{{ */
#card
{
  display: flex;
  flex-direction: column;
}
#card .box1 {flex: 1 1 10%; min-height: 24px; max-height: 48px;}
#card .box2 {flex: 8 8 80%;}
#card .box3 {flex: 1 1 10%; min-height: 24px; max-height: 48px;}
#card .box2
{
  border: 1px solid var(--col85);
}
/* }}} */


