/* CSSv3 */
/* html {{{ */
html
{
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  width: 100%;
  /* colors {{{ */
  /* default: ALICE BLUE */
  /* main */
  --col-h: 211;/* hue */
  --col-s:  92;/* saturation */
  /* opaque */
  --col99: hsla(211, 92%, 99%, 1);
  --col95: hsla(211, 92%, 95%, 1);
  --col94: hsla(211, 92%, 94%, 1);
  --col93: hsla(211, 92%, 93%, 1);
  --col92: hsla(211, 92%, 92%, 1);
  --col90: hsla(211, 92%, 90%, 1);
  --col88: hsla(211, 92%, 88%, 1);
  --col87: hsla(211, 92%, 87%, 1);
  --col85: hsla(211, 92%, 85%, 1);
  --col84: hsla(211, 92%, 84%, 1);
  --col83: hsla(211, 92%, 83%, 1);
  --col82: hsla(211, 92%, 82%, 1);
  --col80: hsla(211, 92%, 80%, 1);
  --col77: hsla(211, 92%, 77%, 1);
  --col75: hsla(211, 92%, 75%, 1);
  --col73: hsla(211, 92%, 73%, 1);
  --col70: hsla(211, 92%, 70%, 1);
  --col65: hsla(211, 92%, 65%, 1);
  --col60: hsla(211, 92%, 60%, 1);
  --col55: hsla(211, 92%, 55%, 1);
  --col50: hsla(211, 92%, 50%, 1);
  --col40: hsla(211, 92%, 40%, 1);
  --col35: hsla(211, 92%, 35%, 1);
  --col30: hsla(211, 92%, 30%, 1);
  --col20: hsla(211, 92%, 20%, 1);
  /* transparent */
  --col95a: hsla(211, 92%, 95%, 0);
  --col90a: hsla(211, 92%, 90%, 0);
  --col85a: hsla(211, 92%, 85%, 0);
  --col80a: hsla(211, 92%, 80%, 0);
  /* gradients */
  --gr0: linear-gradient(--col90, --col95a 20%, --col95a 80%, --col90);
  --gr1: linear-gradient(to right, --col90, --col95a 10%, --col95a 90%, --col90);
  --gr2: radial-gradient(ellipse, transparent, --col90 75%);
  --gr3: radial-gradient(ellipse, --col90 25%, transparent 75%);
  /* }}} */
  --v-width: 0;
  --v-height: 0;
}
body
{
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: var(--col99);/**/
  color: var(--col40);
}
/* }}} */
/* common {{{ */
.button, .title
{
  -webkit-user-select: none;
  user-select: none;
}
/* }}} */

/* workarea {{{ */
#wa
{
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  /**/
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--col95);
  color: var(--col40);
  /**/
  /* font {{{ */
  /* static */
  --f-name: Segoe UI, Tahoma, Geneva, sans-serif;
  --f-size-max: 36;
  /* dynamic */
  --f-size0: 0px;
  /* css dynamic */
  --f-size1: calc(var(--f-size0) - 2px);
  --f-size2: calc(var(--f-size0) - 4px);
  --f-size3: calc(var(--f-size0) - 6px);
  --f-size4: calc(var(--f-size0) - 8px);
  --f-size5: calc(var(--f-size0) - 10px);
  --f-size6: calc(var(--f-size0) - 12px);
  --f-size7: calc(var(--f-size0) - 14px);
  --f-size8: calc(var(--f-size0) - 16px);
  --f-size9: calc(var(--f-size0) - 18px);
  /* }}} */
  /**/
  font-family: var(--f-name);
  font-weight: 700;
}
#header  {flex: 1 1 10%; min-height: 32px; max-height: 64px;}
#toolbar {flex: 0 0 0%; min-height: 0;}
#view    {flex: 9 9 90%;}
#console {flex: 0 0 0%; min-height: 0;}
#wa > div
{
  display: flex;
  min-width: 80px;
}
#wa .separator
{
  flex: 0 0 3px;
  background-color: var(--col93);
  border: 1px solid var(--col85);
  border-radius: 2px;
}
/* icons */
#wa svg
{
  fill: var(--col40);
  height: 100%;
  width: 100%;
}
/***/
#view > div
{
  width: 100%;
  height: 100%;
}
/* }}} */
/* header  {{{ */
#header  .b1    {flex: 1.5 1.5 15%; padding: 4px 2px;}
#header  .title {flex: 7 7 70%; padding: 4px 8px;}
#header  .b2    {flex: 1.5 1.5 15%; padding: 4px 2px;}
#header  .title
{
  min-width: 0;/* default is auto for flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--f-size0);
  white-space: nowrap;
}
#header .button
{
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  height: 100%;
  width: 100%;
  min-width: 24px;
  border-radius: 6px;
  font-weight: 600;
  font-size: var(--f-size6);
  /* anim */
  transition: all 0.6s ease;
}
/* enabled */
#header  .button:not(.disabled) {
  background-color: var(--col90);
  border: 1px solid var(--col85);
  cursor: pointer;
}
#header  .button:not(.disabled):hover {
  background-color: var(--col92);
  color: var(--col30);
  font-size: var(--f-size5);
  font-weight: 700;
}
/* disabled */
#header  .button.disabled {
  background-color: var(--col95);
  border: 1px solid var(--col85);
}
/* }}} */
/* toolbar {{{ */
/* }}} */
/* console {{{ */
#console.menu
{
  flex: 2 2 20%;
  min-height: 32px;
  max-height: 80px;
  flex-direction: column;
}
#console.menu .carousel
{
  flex: 1 1 100%;
  display: flex;
  padding: 0 2px;
}
#console.menu .item
{
  flex: 2.5 2.5 25%;
  min-width: 0;
  padding: 10px 0 12px 0;
}
#console.menu .item.hidden {flex: 0 0 0;}
#console.menu .item.active
{
  flex: 5 5 50%;
  padding: 4px 0 6px 0;
}
#console.menu .item.hover
{
  padding: 8px 0 10px 0;
}
/***/
/***/
#console.menu .button
{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  min-width: 100%;
  box-sizing: border-box;
  white-space: nowrap;
  font-size: var(--f-size8);
  background-color: var(--col93);
  border: 1px solid var(--col85);
}
#console.menu .button.center
{
  font-size: var(--f-size4);
  background-color: var(--col95);
  border-radius: 6px;
}
#console.menu .button.left
{
  cursor: pointer;
  border-right: 0;
}
#console.menu .button.right
{
  cursor: pointer;
  border-left: 0;
}
#console.menu .button.hidden
{
  font-size: 0;
}
#console.menu .button.center.hover
{
  border-radius: 0;
  font-size: var(--f-size7);
  background-color: var(--col93);
}
#console.menu .button.left.hover
{
  border-left: 0;
  font-size: var(--f-size7);
  background-color: var(--col95);
}
#console.menu .button.right.hover
{
  border-right: 0;
  font-size: var(--f-size7);
  background-color: var(--col95);
}
/* }}} */
/* menu {{{ */
#menu
{
  cursor: -webkit-grab;
  cursor: grab;
}
#menu.drag
{
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
#menu .box
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#menu .box.active
{
  z-index: 2;
  visibility: inherit;
}
#menu .box.attached
{
  border: 0px solid var(--col95);
  background-color: var(--col95);
}
/* menu option buttons */
#menu .box > div
{
  width: 65%;
  max-width: 640px;
}
#menu .button
{
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 56px;
  margin: 1px 0;
  background-color: var(--col90);
  color: var(--col40);
  border: 1px solid var(--col85);
  border-radius: 6px;
  font-weight: 700;
  font-size: var(--f-size6);
  transition: All 0.6s ease;
}
#menu:not(.drag) .button
{
  cursor: pointer;
}
#menu:not(.drag) .button:hover
{
  flex: 1 1 100%;
  max-height: 72px;
  background-color: var(--col92);
  color: var(--col30);
  font-size: var(--f-size5);
  width: 70%;
  max-width: 680px;
}
/* }}} */
/* address {{{ */
#card
{
  display: flex;
  flex-direction: column;
}
#card .box1 {flex: 1 1 10%; min-height: 24px; max-height: 48px;}
#card .box2 {flex: 8 8 80%;}
#card .box3 {flex: 1 1 10%; min-height: 24px; max-height: 48px;}
#card .box2
{
  border: 1px solid var(--col85);
}
/* }}} */


